@import "../../assets/styles/styles.modules";

.header {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

  @include tablet-up() {
    flex-direction: row;
  }

  .logo {
    display: block;
    width: 160px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    padding: 0 8px;
    text-align: center;
    text-transform: capitalize;
  }
}
